<footer class="mt-auto footer bg-dark text-muted">
    <div class="container text-center">
        &copy; Yelp-Camp-2K22
    </div>
    <div class="container text-center">
        contact : uddinzaheer32@gmail.com
    </div>

</footer>