<% layout('layouts/boilerplate.ejs')%>

    <div class="card mt-4">
        <div class="row">
            <div class="col-md-4">
                <img src="https://static.abplive.com/wp-content/uploads/2020/08/08225841/Asim-Riaz-BB-13-Bigg-Boss-13-Dil-Ko-Mein-Di-Kasam.jpg?impolicy=abp_images&imwidth=720"
                    alt="" class="img-fluid">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title text-center display-6 mt-0 text-warning ">
                        <strong>
                            CREATOR
                        </strong>
                    </h4>
                    <h5 class="card-text text-muted text-center">
                        Name : Shaik Zaheeruddin
                    </h5>
                    <h5 class="card-text text-muted text-center">
                        Contact :
                        <ul>
                            <li style="list-style-type: none;" class="text-info">uddinzaheer32@gmail.com</li>
                            <li class="text-info" style="list-style-type: none;">+1(424) 265-6897</li>
                        </ul>
                    </h5>
                    <h5 class="card-text text-muted text-center mb-3">
                        location : Street: 2164 Heliport Loop
                        <br>
                        City: Oaktown
                        <br>
                        State/province/area: Indiana
                    </h5>
                    <div class="text-center mt-3">
                        <button class="btn btn-success">DONATE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>